WO_DEVELOPER_EDITION_SOURCE=myibm
WO_ENTITLEMENT_KEY=<my_entitlement_key>
WATSONX_APIKEY=<my_watsonx_api_key>
WATSONX_SPACE_ID=<my_space_id>

#OLLAMA_API_KEY=ollama
#OLLAMA_CUSTOM_HOST=http://<host_ip>:11434
#OLLAMA_URL_TO_FETCH=http://<host_ip>:11434